*.user
*.sdf
*.suo
*.swp
*.opensdf
*.DS_Store
*.sublime-project
*.sublime-workspace
bin/
lib/
ipch/
Debug/
Release/
DerivedData/
project.xcworkspace/
xcuserdata/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
