*.user
*.sdf
*.suo
*.swp
*.opensdf
*.DS_Store
*.sublime-project
*.sublime-workspace
*.xcodeproj
.ycm_extra_conf.py
.ycm_extra_conf.pyc
bin/
lib/
ipch/
Debug/
Release/
DerivedData/
project.xcworkspace/
xcuserdata/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
Makefile
